@model List<Entities.CBoleta>
@{
    ViewBag.Title = "Listado";
    var grid = new WebGrid(source: Model);
}

<h2>Listado de Boletas</h2>
@Html.ActionLink("Crear","Formulario","Boleta", new { codigo = 0 }, null)
@grid.GetHtml(tableStyle: "table table-striped",
columns: grid.Columns(
    grid.Column(columnName: "venta", header: "Venta"),
    grid.Column(columnName: "dni", header: "DNI"),
    grid.Column(columnName: "total", header: "Total"),
    grid.Column(
        header: "Acciones",
        format: (item) => Html.ActionLink("Editar","Formulario", "Boleta", new { codigo = item.codigo }, null)
    ),
    grid.Column(
        header: "",
        format: (item) => Html.ActionLink("Eliminar", "Eliminar", "Boleta", new { codigo = item.codigo }, null)
    )
   )
  )
