
@{
    ViewBag.Title = "ErrorPerm";
}
<div class="panel-info widget-shadow">
    
    
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Panel Danger</h3>
            </div>
            <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin iaculis quam sit amet nisi dictum, in iaculis dolor lobortis. Aenean placerat purus non faucibus.
            </div>
        </div>
   
</div>

